<div class="container">
  <div class="alert alert-success" *ngIf="!showForm">
    Your recipe has been sent.
  </div>
  <form [formGroup]="recipeForm" *ngIf="showForm">
    <div class="form-group">
     <label>BSN Number:</label>
      <input class="form-control"  formControlName="bsnNumber" type="text" name="bsn_number"><br>
    </div>
    <div class="form-group">
      <label> Prescription date:</label>
      <input formControlName="prescriptionDate" class="form-control" type="date" name="prescription_date"><br>
    </div>
    <div class="form-group">
      <label>End date:</label>
      <input formControlName="endDate" type="date" class="form-control" name="end_date"><br>
    </div>
    <div class="form-group">
      <label>method:</label>
      <select class="form-control" formControlName="deliveryMethod">
        <option *ngFor="let deliveryMethod of deliveryMethods" [value]="deliveryMethod">{{deliveryMethod}}</option>
      </select>
    </div>

    <div formArrayName="medicineForm"
      *ngFor="let medicine of recipeForm.get('medicineForm').controls; let i = index">
      <div [formGroupName]="i">
        <div class="form-group">
          <label>Medicine</label>
          <select class="form-control" formControlName="medicine">
            <option *ngFor="let mf of medicineForms" [value]="mf.id">{{mf.label}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Usage</label>
          <textarea formControlName="usage" class="form-control" name="usage"></textarea><br>
        </div>
        <button (click)="deleteMedicine(i)">X</button>
      </div>
    </div>

    <button (click)="addMedicine()">Add</button>
    <button type="submit" class="btn btn-primary" [disabled]="!recipeForm.valid" (click)="saveRecipe()">Save</button>
  </form>

</div>
